@import "../../styles/App";
.login__card {
  width: 450px;
  height: 500px;
}

.footer__message {
  margin-top: 32px;
  display: flex;
  align-items: center;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  gap: 10px;
  width: 245px;
  height: 39px;
  margin-left: 102.5px;
  margin-right: 102.5px;
  p {
    width: 178px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-feature-settings: "liga" off, "calt" off, "kern" off;
    color: color(sonicSilver);
  }
  .red {
    width: 37px;
    height: 19px;
    font-family: "Work Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    font-feature-settings: "liga" off, "calt" off, "kern" off;
    color: color(venetianRed);
  }
}
