@import "../../../styles/App";

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 28px 36px;
  gap: 24px;
  position: absolute;
  width: 450px;
  height: 604px;
  left: 420px;
  top: 30px;
  bottom: 200px;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 10px;
  .card-image {
    width: 73.33px;
    height: 73.33px;
    top: 7.33px;
    left: 7.33px;
  }
}
